:root {
  --off-white: #fffceb;
  --maroon: #782121;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--off-white);
  --color-text: black;
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* https://site.xavier.edu/polt/typewriters/tw-fonts.html */
@font-face {
  font-family: 'underwood-quiet';
  src: url('/fonts/Underwood_Quiet_Tab.ttf');
}

@font-face {
  font-family: 'royal-executive';
  src: url('/fonts/RoyalExecutive.ttf');
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'underwood-quiet', Courier, monospace;
  line-height: 1.6;
  font-size: 11px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
