:root {
  --off-white: #fff9d2;
  --maroon: #782121;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--off-white);
  --color-text: black;
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
  /* font-family:; */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
