@import './base.css';

#app {
  max-width: 1280px;
  margin-left: 20px; /*previously 0 auto*/
  /* padding: 2rem; */
  font-weight: normal;
}

a {
  color: var(--maroon);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  #right-sticky-photo {
    display: none;
  }
}
